* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: aliceblue;
}

.container {
	display: flex;
	flex-direction: column;
}
.left {
	flex: 30%;
	background-color: #f1f1f1;
	padding: 20px;
}
.right {
	flex: 70%;
	justify-content: center;
	align-items: center;
}
.game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.game div {
	margin: 25px;
}
.game-board {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-board .board {
	background-color: rgb(182, 181, 181);
	padding: 8px;
	box-shadow: 0px 0px 5px rgb(77, 77, 77);
}

.board-row {
	display: flex;
}
.game-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.square {
	padding: 10px;
	background-color: #ffffff;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 80px;
	height: 80px;
	color: white;
	outline: none;
	border: 1px solid rgb(182, 181, 181);
}
.O {
	background-color: rgb(83, 160, 147);
}

.X {
	background-color: rgb(75, 86, 92);
}
.button {
	padding: 20px;
	width: 200px;
	background-color: bisque;
	border: 1px solid rgb(248, 201, 143);
	outline: none;
	font: 800;
	cursor: pointer;
	margin-right: 20px;
	font-size: 14px;
}

.button:hover {
	background-color: rgb(255, 178, 83);
}

.winner {
	font-weight: bold;
	font-size: 24px;
	color: blue;
	animation: 0.5s shake infinite alternate;
}

.nextPlayer {
	font-weight: bold;
	font-size: 24px;
	color: green;
}

.score {
	font-weight: bold;
	font-size: 24px;
	color: rgb(238, 170, 43);
}

@media screen and (max-width: 425px) {
	.game {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.game div {
		margin: 0;
	}
	.button {
		margin-top: 10px;
	}
}

@keyframes shake {
	0%,
	100% {
		/* Defines the properties at these frames */
		color: rgb(175, 5, 5);
	}

	50% {
		/* Defines the properties at these frames */
		color: rgb(243, 101, 101);
	}
	0% {
		transform: skewX(-15deg);
	}
	5% {
		transform: skewX(15deg);
	}
	10% {
		transform: skewX(-15deg);
	}
	15% {
		transform: skewX(15deg);
	}
	20% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}
