* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: url('bg.png');
	background-size: initial;
}

.container {
	display: flex;
	flex-direction: column;
}
.left {
	flex: 30%;
	padding: 20px;
}
.right {
	flex: 70%;
	justify-content: center;
	align-items: center;
}
.game {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}
.game div {
	margin: 20px;
	margin-top: 25px;
}
.game-board {
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.game-board .board {
	background-color: rgb(182, 181, 181);
	padding: 8px;
	box-shadow: 0px 0px 5px rgb(77, 77, 77);
}

.board-row {
	display: flex;
}
.game-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}
.square {
	padding: 10px;
	background-color: #ffffff;
	padding: 0;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	width: 80px;
	height: 80px;
	color: white;
	outline: none;
	border: 1px solid rgb(182, 181, 181);
}
.O {
	background-color: rgb(83, 160, 147);
}

.X {
	background-color: rgb(75, 86, 92);
}
.button {
	padding: 20px;
	width: 200px;
	background-color: rgb(44, 41, 250);
	border: 1px solid rgb(35, 31, 255);
	outline: none;
	font: 800;
	cursor: pointer;
	margin-right: 20px;
	font-size: 14px;
}

.button:hover {
	background-color: rgb(111, 109, 255);
}

.winner {
	background-color: rgba(0, 60, 255, 0.1);
	padding: 14px;
	width: 200px;
	border: none;
	font-weight: bold;
	font-size: 24px;
	box-shadow: 0 0 20px rgb(117, 117, 117);
	color: blue;
	animation: 0.5s shake infinite alternate;
}

.nextPlayer {
	background-color: rgba(255, 0, 0, 0.1);
	padding: 14px;
	width: 200px;
	border: none;
	box-shadow: 0 0 20px rgb(117, 117, 117);
	font-weight: bold;
	font-size: 24px;
	color: rgb(0, 26, 144);
}

.score {
	display: flex;
}
.score button:first-child {
	border: 1px solid #f7f7f7;
	background-color: #f7c744;
	outline: none;
	color: rgba(255, 0, 0, 0.63);
	padding: 15px;
	font-size: 18px;
	font-weight: bolder;
}

.score button:last-child {
	border: 1px solid #ffc524;
	background-color: #f3e1b0;
	outline: none;
	padding: 15px;
	font-size: 18px;
	font-weight: bolder;
}

@media screen and (max-width: 425px) {
	.game {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.game div {
		margin: 0;
	}
	.button {
		margin-top: 10px;
	}
}

@keyframes shake {
	0%,
	100% {
		/* Defines the properties at these frames */
		color: rgb(175, 5, 5);
	}

	50% {
		/* Defines the properties at these frames */
		color: rgb(243, 101, 101);
	}
	0% {
		transform: skewX(-15deg);
	}
	5% {
		transform: skewX(15deg);
	}
	10% {
		transform: skewX(-15deg);
	}
	15% {
		transform: skewX(15deg);
	}
	20% {
		transform: skewX(0deg);
	}
	100% {
		transform: skewX(0deg);
	}
}
